# Imputation de données manquantes avec une forêt aléatoire
*Aude Sportisse*

In [1]:
from sklearn.impute import SimpleImputer
import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor

In [2]:
np.random.seed(0)  #fixer la graine (pour reproduire les expériences)

#on créée des données synthétiques (simulées à partir d'un modèle)
n = 1000 
p = 10 
mean = np.repeat(0, p) 
cov = 0.5 * (np.ones((p,p)) + np.eye(p)) 

X_complet = np.random.multivariate_normal(mean, cov, size = n) #c'est le jeu de données sans données manquantes

In [3]:
pd.DataFrame(X_complet).head()

,0,1,2,3,4,5,6,7,8,9
0,-0.651699,-1.577604,-1.010682,-2.534306,-1.942683,-1.044865,-1.116008,-2.467032,-0.625458,-0.112224
1,0.403694,0.369210,-0.868323,-1.207519,-0.175903,-0.560134,0.490021,0.146642,0.176617,0.157438
2,2.473229,1.953623,3.062872,0.523392,0.899866,2.893027,2.665302,1.683790,1.231245,1.547132
3,-0.710457,-0.086647,-0.385689,-0.591911,0.641094,-0.270124,-0.071070,1.318722,-0.996541,0.003502
4,-0.366973,0.394682,0.872166,2.017242,1.227314,1.143759,-0.366388,-0.207854,1.177430,1.884901

In [4]:
pourcentage_NA = 0.5 #50% de données manquantes
X_manquant = np.copy(X_complet)
for j in range(p):
    pattern_NA = np.random.choice(n, np.floor(n*pourcentage_NA).astype(int), replace=False)
    X_manquant[pattern_NA,j] = np.nan
Mask = np.isfinite(X_manquant) #matrice indiquant où sont les données manquantes dans X

In [5]:
pd.DataFrame(X_manquant).head().style.highlight_null(color='orange')

## Imputer en utilisant la moyenne

In [6]:
X_mean = SimpleImputer().fit_transform(X_manquant)

In [8]:
def color_imputedvalues_orange(val, x_miss):
    color = 'orange' if val not in x_miss else 'None'
    return 'background-color: %s' % color

pd.DataFrame(X_mean).head().style.applymap(color_imputedvalues_orange, x_miss=X_manquant)

## Imputer avec une forêts aléatoires

In [9]:
estimateur_rf = ExtraTreesRegressor(n_estimators=10, random_state=0) #max_depth
X_rf = IterativeImputer(estimator=estimateur_rf, random_state=0, max_iter=50).fit_transform(X_manquant)

/Users/asportis/anaconda3/lib/python3.11/site-packages/sklearn/impute/_iterative.py:796: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [10]:
pd.DataFrame(X_rf).head().style.applymap(color_imputedvalues_orange, x_miss=X_manquant)

## Comparaison des deux méthodes

In [11]:
def RMSE(X, X_true, mask):
    mask_ = (1-mask).astype(bool)
    return np.sqrt(((X[mask_] - X_true[mask_])**2).sum() / mask_.sum())

In [12]:
RMSE(X_rf, X_complet, Mask)

0.8611080489295024

In [13]:
RMSE(X_mean, X_complet, Mask)

0.9893929064810191